body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #14213d;
	box-sizing: border-box;
}

h1 {
	font-size: 3rem;
}
